 

padding-lef
 margin-left:5px;
 gap : 5px;


{   /* O ponto chama o nome da classe para a estilização*/;

.card     }
{       
    border: 2px solid black;
    th: 260xp;
    background-color: antiquewhite;
    padding-left: 8px;
    padding-top:10px;
    padding-radius 12px;
justify-content center

  }


    ;
    


button {                
justify-content: center;
    align-itens: center;
    background-color: rgb(29, 238, 245, 0);
    color: white;
    border: 1px solid rgba(29, 238, 245, 0);
    border-radius: 12px;
    
};
a button {
justify-content: center;
align-items: center;
text-align: center;
margin-left: 50px;
margin-bottom:10px ;

}
img {
    
}